body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	background-color: #000000;
	color: #fff;
}

@font-face {
	font-family: 'Norse-Bold';
	src: url('../sign-up-form/font/Norse-Bold.otf');
}

.left-side {
	height: 100vh;
	width: 22%;
	background-image: url('../sign-up-form/img/halie-west-25xggax4bSA-unsplash.jpg');
	background-size: cover;
	display: flex;
	align-content: space-between;
	justify-content: center;
	flex-wrap: wrap;
}

.left-side .top {
	display: flex;
	align-content: start;
	justify-content: center;
	justify-items: center;
	align-items: center;
	height: 60%;
	width: 100%;
}

.left-side .image-container {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgba(00, 00, 00, 0.4);
	padding: 0.05em;
	font-family: 'Norse-Bold', sans-serif;
	font-size: 3.5em;
}

.left-side .top img {
	height: 70px;
}

.left-side .bot {
	align-items: flex-end;
	justify-content: center;
	font-size: 0.5em;
	padding: 0.8em;
}

.right-side {
	height: 100vh;
	width: 35vw;
	background-color: #ffffff;
}

.font-color {
	color: #596d48;
}
